.button {
    border-radius: 0;
    border: 1px solid #FDC5D0;
    text-transform: uppercase;
    color: #FDC5D0;
    padding: 15px;
    cursor: pointer;

    position: relative;
    float: left;
    text-align: center;

    margin-right: 20px;

    width: 140px;
}
