.button {
    border-radius: 0;
    border: 1px solid $pink;
    text-transform: uppercase;
    color: $pink;
    padding: 15px;
    cursor: pointer;

    position: relative;
    float: left;
    text-align: center;

    margin-right: 20px;
    margin-bottom: 20px;

    width: 100%;
    height: 52px;
}

.social {
    position: relative;
    overflow: hidden;

    cursor: default;
}
.zavesa {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 15px;

    transition: all 0.4s;

    background-color: $black;

    z-index: 2;
}
.ikone {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 15px;
}
.social:hover {
    .zavesa {
        top: -52px;
    }
}
.ikona {
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}
.ikona:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
}

.shake-social {
  @include do-shake(
        $name: 'shake-social', /* {String} is the name for the keyframes animation */
        $h: 5px, /*  {Number} is the max number for random to assign in x axis */
        $v: 5px, /* {Number} is the max number for random to assign in y axis */
        $r: 15deg, /* {Number} is the max number for random rotation */
        $dur: 5000ms, /* {Number} is the animation-duration time value */
        $precision: .02, /* {Number} is the precision of the keyframes animation. For example .02 generates keyframes each 2% and .1 each 10%. The calculation is $step: 100 * $precision; */
        $opacity: false,
        $q: infinite, /* {String} is the animation-iteration-count value */
        $t: ease-in-out, /* {String} animation-timing-function value */
        $delay: null, /* {Number} animation-delay time value */
        $chunk: 100%); /* {Number} is the part of the keyframes where apply the animation */
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
    .button {
        width: 140px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}
